<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="admin">
        <div class="admin-1">
            <p style="justify-self: center;">THÊM SẢN PHẨM</p> 
            
            <form action="/add" method="post" class="add_SP">
                <label for="" style="margin-left: 50px;color:greenyellow;">{{response}}</label>
                <label for="img">ID</label>
                <input type="text" name="id">
                <label for="img">IMG</label>
                <input type="text" name="img">
                <label for="img">NAME</label>
                <input type="text" name="name">
                <label for="img">DISCRIPTION</label>
                <input type="text" name="discription">
                <label for="img">PRICE</label>
                <input type="text" name="price">
                <label for="img">KIND</label>
                <input type="text" name="kind">
                <input type="submit" value="THÊM SẢN PHẨM" style="background-color:brown;color:white;">
            </form>
        </div>
    </div>
</body>

</html>